#cursor {
  animation: blinker 1s step-end infinite; 
  you can change 'step-end' to 'linear' for smooth transition
}
@keyframes blinker {  
  50% { opacity: 0; }
}
#container {
width: 1000px;
height: 1000px;
  padding: 50px;
  margin: 50px auto;
  word-wrap: break-word;
  text-align:center;
}

.inner {
 	height:300px;
	width: 300px;
	position: absolute;
/*	margin:10px;
*/	display: block;
}

#sky.jpg{
	height: 300px;
	width: 300px;
	border: 1px;
	margin:10px;
	position: relative;
	left: 100px;
	top: 40px;
	opacity: 0.5;
}
.blue{
	height: 300px;
	width: 300px;
	border: 1px;
	margin:10px;
	position: relative;
	left: 50px;
	top: 200px;
	opacity: 0.5;
}
.green{
	height:400px;
	width: 400px;
	position: absolute;
	left:600px;
	top:100px;
	opacity: 0.5;
}
.red{ 
	height: 35vh;
	width: 30vw;
	position: absolute;
	left:500px;
	top: 170px;
	opacity: 0.5;
 }

 .white{ 
 	height: 150px;
 	width: 150px;
 	position: absolute;
 	left: 500px;
 	top: 40px;
 	opacity: 0.5;
 }

 .pink{
 	height: 35vh;
 	width: 20vw;
 	position: absolute;
 	left: 550px;
 	bottom: 110px;
 	opacity: 0.5;
 }

 .violet { 
 	height: 25vh;
 	width: 15vw;
 	position: absolute;
 	right: -450px;
 	bottom: -190px; 
 	opacity: 0.5;

 }
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  top: 0; 
  left: 0;
  width: 100vw; 
  height: 100vh;
  z-index: -100;
}

.sunset{ 
height: 100px;
width: 100px;
min-width: 50%;
min-height: 50%;
top: 70px;
right: 90px;
position: absolute;
opacity: 0.5;
}

.floral{ 
height: 80vh;
width: 30vw;
top: 90px;
right: 30px;
position: absolute;
opacity: 0.5;
}

.trees{ 
height: 60vh;
width: 50vw;
top: 15q0px;
left: 400px;
position: absolute;
opacity: 0.5;
}

.steps{ 
height: 80vh;
width: 50vw;
top: 100px;
right: 80px;
opacity: 0.5;
}

.up { 
height: 35vh;
width: 20vw;
bottom: -190px;
right: -300px;
position: absolute;
opacity: 0.5;
}

.home{ 
height: 80vh;
width: 80vw;
left: 200px;
top: 50px;
position: absolute;
opacity: 0.5;
}

.end { 
height: 50vh;
width: 50vw;
left: 170px; 
top: 130px;
position: absolute;
opacity: 0.5;
}

video{
	position: absolute;
	height: 200px; 
	width: 200px;
	/*top: 90px;
	left: 90px;*/
}

video-2{
	position: absolute;
	height: 1500px; 
	width: 1500px;
	bottom: 400px;
	left: 300px;
	opacity: 0.5;
}

.yellow{ 
height: 25vh;
width: 15vw;
bottom: -100px;
right: -640px;
position:absolute;
opacity: 0.5;
}

.k{
	height: 70vh;
	width: 40vw;
	top: 60px;
	left: -100px;
	position: absolute;
	opacity: 0.5;
}

.j{ 
height: 35vh; 
width: 30vw;
top: 150px;
left: 300px;
position: absolute;
opacity: 0.5; 
}

video-3{ 
	opacity: 0.5;
 }

.martinique{ 
top: 0px;
left: 0px;
width: 100vw;
height: 130vh;
position: absolute;
}

.quiet{
	top: 10px;
	right: -300px;
	height: 20vh;
	width: 17vw;
	position: absolute;
	opacity: 0.5;
}

.lovely{
top: 100px;
left: 150px;
height: 50vh;
width: 50vw;
position: absolute;
opacity: 0.5;

}

.green2{ 
top: -10px;
right: 10px;
width: 30vw;
height: 50vh;
position: absolute;
opacity: 0.5;
}

.calm{ 
top: 250px;
right: -290px;
width: 200px;
height: 130px;
position: absolute;
opacity: 0.5;
}

.nice{
	top: 100px;
	right: 100px;
	width: 50vw;
	height: 50vh;
	position: absolute;
	opacity: 0.5;
}

.i{ 
 top: 60px;
 right:-200px;
 width:50vw;
 height:50vh;
 position: absolute;
 opacity: 0.5;
}

